/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}


ol, ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("https://use.typekit.net/iye2kqr.css"); 
  font-weight: normal;
  font-style: normal;
}


.box{
	position: absolute;                       
}



article, aside, details, figcaption, figure, footer, header, hgroup, menu, section {
  display: block; }



/* #Basic Styles
================================================== */
body {
	
	font-family: 'Proxima Nova', Fallback, sans-serif;
}
body {
	margin: 0;
}

/* #Typography
================================================== */
body, h1, h2, h3, h4, h5, h6 {

	font-family: 'Proxima Nova', Fallback, sans-serif;
	margin: 0;
	padding: 0;
	font-weight: normal;

}

h1 {
	font-size: 4rem;
	line-height: 4.5rem;
	font-weight:900;
	letter-spacing: .1rem;
	color: #333333;
}

h2 {
	font-size: 2.4rem;
	line-height: 3rem;
	font-weight: 800;
	letter-spacing: .05rem;
	/*margin-bottom: 1rem;*/
	color: #333333;
}

h3 {
	font-size: 1.4rem;
	line-height: 2.2rem;
	font-weight: 500;
	color: #333333;
}

h4 {
	font-size: 1.4rem;
	line-height: 2rem;
	font-weight: 500;
	color: #333333;
}

h5 {
	font-size: 1.2rem;
	line-height: 2rem;
	font-weight: 600;
	color: #333333;
}


a {
	font-family: 'Proxima Nova', Fallback, sans-serif;
	text-decoration: none;
	color: black;
	display: inline-block;

}

p {
	font-size: .9rem;
	line-height: 2rem;
	font-weight: 500;
	color: #333333;
}

.article p {
	margin-bottom: 1rem;
}

.heading4{
	font-size: 1.4rem;
	line-height: 2rem;
	font-weight: 500;
	color: #333333;
}

.heading5 {
	font-size: 1.2rem;
	line-height: 2rem;
	font-weight: 600;
	color: #333333;
}

.heading6 {
	font-size: .9rem;
	line-height: 2rem;
	font-weight: 500;
	color: #333333;
}

.bolded {
	font-weight: 800;
}



/*---------wrappers----------*/

.content {
	position: relative;
	padding: 5% 9% 5% 9%;
  	display: grid;
  	grid-template-columns: minmax(100px, 25%) 1fr;
  	grid-template-rows: auto;
	grid-gap: 1rem;
	border: 1.5px solid #f5f5f5;
	background: white;
}

.container {
	padding: 1rem 2rem 0 2rem;
}


@media (max-width: 650px) { 
  .table {
    grid-column: span 2;
  }
}

@media (max-width: 650px) { 
  .article {
    grid-column: span 2;
  }
}

.content-wrap {
	margin-bottom: 2rem;
}

.subsection {
	margin-bottom: 1rem;
	margin-top: 2rem;
}

.sublist-wrap {
	margin-bottom: 1rem;
	margin-top: .5rem;
}

.pwrap {
	margin-bottom: 1rem;
}

.media-wrapper {
	margin: 2rem 0 2rem 0;
	padding: 0 10% 0 10%;
}





/*------flex-box--------*/
.flexbox {
	display: flex;
}

.center-flex {
	align-items: center;
}

.center-flex p {
	margin-bottom: 0;
}

.icon {
	height: 1em;
	width: 1em;
	margin: 0 .5rem 0 .5rem;
}

.inline {
	margin-right: 2rem;
}



/*-------Lists-------*/
.list {
	padding: 1rem;
}




/*-----Table of Contents------*/



.article-section h5:hover {
	color: #C64600;
}

.table {
	background-color: #FAFAFA;
	height: min-content;
	border: 1.5px solid #f5f5f5;
	border-radius: 5px;
}

.table .article-section {
	list-style: none;
	counter-reset: section;
}

.table .nav-pills {
	display: grid;
}
.table .my-1:before {
  content: counter(section);
  counter-increment: section;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 .5rem 0 0;
  text-align: center;
} 


.table .my-1{
	padding-bottom: 1rem;
	font-weight: 500;
	font-size: .9rem;
	color: #333333;
	line-height: 1rem;
}

.table .nav-link:hover{
	color: #C64600;
}
.table h3:hover{
	color: #C64600;
}

.content-type {
	color: #747474;
}

.content-category {
	color: #333333;
}





/*-----------Nav Bar---------*/

.header-nav li {
  	list-style-type: none;
	font-size: 1rem;	
}




.header-nav {
  	margin: 0 9% 0 9%;
}

.header-nav ul {	  
	margin: 0;
  	padding: 0;
	display: flex;
}

.header-nav a {
	font-weight: 400;
	color: #626568;
}

a:hover {
	color: #E25F1C;
}

.navbar-right {
	justify-content: flex-end;
}

.navbar-left {
	justify-content: flex-start;
	align-items: center;
	width: 10%;
	padding-right: 3vw;
}

.navbar-right li {
	margin-left: 2vw;

}

.navbar-collapse {
	display: flex;
	justify-content: space-between;
	padding: .5em 0 .5em 0;
	align-items: center;
}



/*-------header-------------*/

.header {
	/*position: relative;*/
	background-color:  #FAFAFA;
	width: 100%;
}

.header::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 60px;
  width: 100%;  
  background-color: inherit;
}

.header-content {
  padding: 2% 9% 2% 9%;
  margin: 0 auto;


}

.header-content h5 {
	color: #333333;
}

.header-content h2 {
	color: #333333;
}

.home {
	background-color: white;
}






/*---------info-toggle---------*/
.info-toggle {
	background: #FAFAFA;
	border: none;
	
}

.info-toggle .table {
	background: none;
}


.info-toggle .article {
	background: none;
	padding: none;
}

.info-toggle hr {
	border: 2px solid #C64600;
}

.info-toggle .heading4 {
	margin-left: 3rem;
	margin-right: 3rem;
}



/*--------Article-----------*/

.inner-sub {
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-between;
}

.horizontal-list ul {
	display: flex;
	justify-content: center;
	width: 100%;
}

.horizontal-list li {
	flex-basis: 20%;
	padding: 1rem;
}
.closebtn {
    float: right;
    color:  black;
    font-size: 1.5rem;
    cursor: pointer;
}


/*--------paragraph style--------*/
.doc-link{
	font-weight: 600;
	color: #C64600;
	text-decoration: underline;
}

.article-subhead {
	line-height: 2rem;
	font-weight: 700;
	font-size: 1rem;
	margin-bottom: 1rem;
	color: #333333;
}


.counter-wrapper {
	list-style: none;
	counter-reset: section;

}

.sublist-count {
	margin-right: 5%;
	border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px 12px 8px 12px;
    background: #fff;
    border: 1.5px solid #dfdfdf;
    color: #666;
    text-align: center;

}

.sublist-count:before {
  content: counter(section);
  counter-increment: section;
} 


/**-----collapsible-------*/
.collapsible {
	background-color: white;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
}

.active, .collapsible h3:hover {
	color: #C64600;
}

.collapsible h3:after {
	content: '\002B';
	color: #333333;
	margin-left: 2rem;
	font-size: 2rem;
}

.collapsible h3:hover:after {
	color: #C64600;
	margin-left: 2rem;
	font-size: 2rem;
}

.active h3:after {
  	content: "\2212";
	font-size: 2rem;
}

.collapse-content {
	margin-top: 2rem;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: white;
}

/*------animation-------*/
.article-main {
	animation: transitionIn .75s;
}

@keyframes transitionIn {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}


/*------Related Content------*/

.related {
	margin-top: 2rem;
	box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1.75px 4px 0 #c2c2c2;
	border-radius: .5rem;
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem 1rem 2rem;
	align-items: center;
}

.related .counter:before {
  content: "0" counter(section);
  counter-increment: section;
} 


.rel-link {
	text-align: right; 
	color: #C64600; 
	font-weight: 600; 
	text-decoration: underline;
}

.resource-type-icon{
	padding: 2%;
}



/*-------Learning-tool------*/

.learning-tool {
	margin: 3rem 0 3rem 0;
	padding: 1rem;

}
.tool-header div{
	text-align: center;
}

.learning-tool-icon{
	width: 40px;
	height: auto;
}

.learning-tool .subsection {
	font-weight: 600;
	font-size: 1rem;
	margin-bottom: .5rem;
	margin-top: .5rem;
	color: #333333;
}


.tabBtn img {
	border-radius: 5px;
}

.tabBtn {
	position: relative;
	border: 1px solid lightgray;
	border-radius: 5px;
	opacity: .8;
	
}


.tabBtn:hover:before {
	opacity: 1;

}
.tabBtn:hover {
	box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1.75px 5px 0 #c2c2c2;
	border: none;
	opacity: 1;

}

.psuedo-style {
	box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1.75px 5px 0 #c2c2c2;
	border: none;
	opacity: 1;
}

.tab-content {
	display: flex;
	justify-content: space-between;
	
}

.pros {
	padding: 1rem;
	flex-basis: 47%;
}

.cons {
	padding: 1rem;
	flex-basis: 47%;
	
}

.info-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	margin-bottom: 2rem;
}

.tab-content img {
	flex-basis: 10%;
	width: 10px;
}

.tab-content p {
	flex-basis: 80%;
	margin-bottom: 0;
}


.containerTab {
	box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1.75px 5px 0 #c2c2c2;
	padding: 1rem;
}



.sr-only {
	position: relative;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border:0;
}


